<div id="cme_logo">
    <a href="http://smefinanceforum.org/" title="SME Finance Forum"><div style="width: 100%; height: 100%"></div></a>
</div>
<div id="ifc_logo">
    <a href="http://ifc.org/" title="International Finance Corporation" target="_blank"><div style="width: 100%; height: 100%"></div></a>
</div>
<div class="clear"></div>
<ul id="main-nav" class="clearfix">
    <li class="home-link">
        <a href="index.html">
            <i class="home_icon"></i>
        </a>
    </li>
    <li><a href="index.html">HOME</a></li>
    <li><a href="countries.html">COUNTRY PAGES</a></li>
    <li><a href="definitions.html">ANALYSIS AND REPORTS</a></li>
    <li><a href="description.html">DESCRIPTION</a></li>
    <li><a href="data.html">DATA</a></li>
</ul>
