---
layout: default.hbs
---
<div id="leftColumn" class="methodology" style="height: auto; ">
    {{> body}}
</div>
<div id="mRight" class="methodologyRight" style="height: auto;">
    {{{_sections.right}}}
</div>
