---
title: Country Pages
layout: right-column.hbs
---
{{#section 'scripts'}}
<script src="libs/jquery-2.1.1.min.js"></script>
<script src="libs/jquery-ui.min-1.11.1.js"></script>
<script src="libs/knockout-3.2.0.js"></script>
<script src="libs/highcharts.js"></script>
<script src="libs/sprintf.js"></script>
<script src="scripts/CountryRegionMap.js" type="text/javascript"></script>
<script src="scripts/CountryListModel.js" type="text/javascript"></script>
<script src="scripts/core.js" type="text/javascript"></script>
<script src="scripts/arrays.js" type="text/javascript"></script>
<script src="scripts/maps.js" type="text/javascript"></script>
<script src="scripts/text.js" type="text/javascript"></script>
<script src="scripts/knockout-helpers.js" type="text/javascript"></script>
<script type="text/javascript">
    ko.applyBindings(new models.CountryListModel('http://ifcwebapp.github.io/msmecountryindicators/'));
</script>
{{/section}}
<div class="only-countries">
    <div style="margin-top: 10px;" class="radios">
        <label class="radio"><input type="radio" name="sotrby" value="Region" data-bind="checked: sortby " />Group by region</label>
        <label class="radio"><input type="radio" name="sotrby" value="Country" data-bind="checked: sortby " />Group alphabetically</label>
    </div>
    <p class="quieter">Non-emerging economies are listed under High income OECD and non-OECD sections towards the end of the page.</p>
    <div data-bind="
        template: {
            name: function() {
                return {
                    'Country': 'sorted-by-country',
                    'Region': 'sorted-by-region'
                }[sortby()];
            }
        }
    ">
    </div>
</div>
<script type="text/html" id="sorted-by-country">
    <div class="columns">
        <div class="column" data-bind="foreach: countries1">
            <div class="regions">
                <div class="region">
                    <span class="region-header" data-bind="text: letter"></span>
                </div>
                <ul data-bind="foreach: countries">
                    <li>
                        <a href="#" data-bind="text: name, attr: {href: 'country.html?country=' + code}"></a>
                        <a title="Download country summary data" style="margin-left:10px" href="#" data-bind="attr: {href: url}">
                            <img alt="Download country summary data" src="content/excel.png" border="0" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="column" data-bind="foreach: countries2">
            <div class="regions">
                <div class="region">
                    <span class="region-header" data-bind="text: letter"></span>
                </div>
                <ul data-bind="foreach: countries">
                    <li>
                        <a href="#" data-bind="text: name, attr: {href: 'country.html?country=' + code}"></a>
                        <a title="Download country summary data" style="margin-left:10px" href="#" data-bind="attr: {href: url}">
                            <img alt="Download country summary data" src="content/excel.png" border="0" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="sorted-by-region">
    <div class="blocks" data-bind="foreach: regions">
        <div class="block">
            <div class="columns" data-bind="foreach: $data">
                <div class="column">
                    <div class="regions" data-bind="foreach: $data">
                        <div class="region">
                            <span class="region-header" data-bind="text: region"></span>
                        </div>
                        <ul data-bind="foreach: countries">
                            <li>
                                <a href="#" data-bind="text: name, attr: {href: 'country.html?country=' + code}"></a>
                                <a title="Download country summary data" style="margin-left:10px" href="#" data-bind="attr: {href: url}">
                                    <img alt="Download country summary data" src="content/excel.png" border="0" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
