---
title: Definitions
layout: right-column.hbs
---

<div class="report_wrapper" style="margin-top: 30px;">
    <div class="left">
        <!--<a href="http://www.ifc.org/wps/wcm/connect/9ae1dd80495860d6a482b519583b6d16/MSME-CI-AnalysisNote.pdf?MOD=AJPERES&CACHEID=9ae1dd80495860d6a482b519583b6d16"><img border="0" src="content/analysis_note_small.png" /></a>-->
        <a href="analysis%20note.pdf"><img border="0" src="content/analysis_note_small_2014.png" /></a>
    </div>
    <div class="left" style="padding-left: 40px; padding-top: 20px;">
        <a href="analysis%20note.pdf"><div class="report_title">2014 Report: Towards a Better Understanding 
of Micro, Small, and Medium Enterprises</div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="report_description">
    <p>This note provides an overview of the updated and expanded data for the MSME Country Inidcators database across 155 economies. Descriptive statistics for MSME definitions and data are presented. The analysis of MSME definitions suggests that the most widely used variable for defining an MSME is the number of employees followed by turnover and assets. Variability for threshold values is high among countries, but it reduces with firm size. By number of employees, 250, 50, and 10 employees are frequently used thresholds for defining medium, small, and micro enterprises respectively (less variability in microenterprises). In general, it was found that threshold values tend to decrease with country incomes. The analysis of data indicates that there are around 162.8million formal MSMEs where more than 508 million employees work. High income economies have the highest number of MSMEs per 1,000 people while the highest growth rates are found among lower middle income economies. MSME share of employment fluctuates between 50 to 70 percent across regions. Even though MSMEs are important in terms of number of enterprises and contribution to employment, there is room for improvement in terms of their contribution to value added, particularly in developing countries. Better access to finance, streamlined business environments, a better competitive landscape, adequate institutional frameworks, less poverty and increased shared prosperity are related to higher numbers of formal MSMEs per 1,000 people around the world. Finally, the quantity and quality of MSME data require drastic improvements in order to produce rigorous studies and enhance the understanding of the MSME sector.
        <a href="analysis%20note.pdf">Read full document</a>
    </p>
</div>

<div class="report_wrapper" style="margin-top: 30px;">
    <div class="left">
        <!--<a href="http://www.ifc.org/wps/wcm/connect/9ae1dd80495860d6a482b519583b6d16/MSME-CI-AnalysisNote.pdf?MOD=AJPERES&CACHEID=9ae1dd80495860d6a482b519583b6d16"><img border="0" src="content/analysis_note_small.png" /></a>-->
        <a href="analysis_note_2010.pdf"><img border="0" src="content/analysis_note_small.png" /></a>
    </div>
    <div class="left" style="padding-left: 40px; padding-top: 20px;">
        <a href="analysis_note_2010.pdf"><div class="report_title">2010 Report: Micro, Small, and Medium Enterprises Around the World: How Many Are There, and What Affects the Count?</div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="report_description">
    <p>This note provides an overview of new data on MSME (micro, small, and medium enterprise)
Country Indicators for 132 economies. There are 125 million formal MSMEs in this set of
economies, including 89 million in emerging markets. Descriptive statistical analysis is
presented on the relationship between formal MSME density (number of formally registered MSMEs
per 1,000 people) and key obstacles for MSMEs, such as access to finance and informality. This
analysis shows that formal MSMEs are more common in high-income economies, but that in low-
and middle-income economies, MSME density is rising at a faster pace. Second, although there is
significant variance in the countries’ definitions of MSMEs, around a third of the countries covered
define MSMEs as having up to 250 employees. Third, formal MSMEs employ more than one-third
of the world’s labor force, but the percentage drops significantly with income level. Fourth, MSMEs
are more likely to identify access to finance as their biggest obstacle than are large firms. In fact, in
economies with a higher percentage of firms with no formal credit, MSME density is lower. Finally,
a larger informal sector is associated with lower formal MSME density. Measures of barriers to firm
entry and exit, such as the minimum capital requirement and the recovery rate in case of bankruptcy,
are also associated with lower formal MSME density.
        <a href="analysis_note_2010.pdf">Read full document</a>
    </p>
    <p><a href="http://www.ifc.org/wps/wcm/connect/Industry_EXT_Content/IFC_External_Corporate_Site/Industries/Financial+Markets/msme+finance/sme+banking/msme-countryindicators">Learn more about analysis done in 2010</a></p>
</div>
