---
title: Description
layout: right-column.hbs
---
<div class="report_wrapper" style="margin-top: 30px;">
    <div class="left">
        <a href="description%20note.pdf"><img border="0" src="content/description_note_small.png" /></a>
    </div>
    <div class="left" style="padding-left: 40px; padding-top: 20px;">
        <a href="description%20note.pdf"><div class="report_title">Description Note on the MSME Country Indicators 2014</div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="report_description">
    Please read the “Description Note on the MSME Country Indicators 2014” along with the country
    specific comments in the Micro, Small, and Medium Enterprise Country Indicators (MSME-CI)
    MS Excel workbook before using the data. MSME-CI presents secondary data collected by various
    institutions (statistical institutes, ministries, international organizations, small business promotion
    agencies, research institutions and others) using different methods (survey, census and others).
    <a href="description%20note.pdf">Read full document</a>
</div>

<!--div class="report_wrapper" style="margin-top: 30px;">
    <div class="left">
        <a href="description_note_2010.pdf"><img border="0" src="content/methodology_note_small.png" /></a>
    </div>
    <div class="left" style="padding-left: 40px; padding-top: 20px;">
        <a href="description_note_2010.pdf"><div class="report_title">Description Note on the MSME Country Indicators</div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="report_description">
    The description note provides an overview of the terms and use of the data, the data collection process and scope,
    notes on selected variables, an overview of the structure of the database, and the steps taken to clean the data for
    the analysis undertaken.
    It also provides additional notes on the data, methodological issues in regards to single and monetary values, and
    the determination of the most widely used MSME definition by country.
    The last section provides an overview of the quality control steps that were undertaken and some lessons learned from
    the data collections process.
    <a href="description_note_2010.pdf">Read full document</a>
</div-->
