---
title: Methodology
layout: right-column.hbs
---
<div class="report_wrapper" style="margin-top: 30px;">
    <div class="left">
        <a href="http://www.ifc.org/wps/wcm/connect/b06d0b004958619ba722b719583b6d16/MSME-CI-MethodologyNote.pdf?MOD=AJPERES&CACHEID=b06d0b004958619ba722b719583b6d16"><img border="0" src="content/methodology_note_small.png" /></a>
    </div>
    <div class="left" style="padding-left: 40px; padding-top: 20px;">
        <a href="http://www.ifc.org/wps/wcm/connect/b06d0b004958619ba722b719583b6d16/MSME-CI-MethodologyNote.pdf?MOD=AJPERES&CACHEID=b06d0b004958619ba722b719583b6d16"><div class="report_title">Methodology Note on the MSME Country Indicators</div></a>
    </div>
    <div class="clear"></div>
</div>
<div class="report_description">
    The methodology note provides an overview of the terms and use of the data, the data collection process and scope, notes on selected variables, an overview of the structure of the database, and the steps taken to clean the data for the analysis undertaken. It also provides additional notes on the data, methodological issues in regards to single and monetary values, and the determination of the most widely used MSME definition by country.  The last section provides an overview of the quality control steps that were undertaken and some lessons learned from the data collections process.
    <a href="http://www.ifc.org/wps/wcm/connect/b06d0b004958619ba722b719583b6d16/MSME-CI-MethodologyNote.pdf?MOD=AJPERES&CACHEID=b06d0b004958619ba722b719583b6d16">Read full document</a>
</div>