---
title: Report
layout: right-column.hbs
---
<div style="width: 700px; margin: 0 auto">
    <div class="report_wrapper">
        <div class="left">
            <a href="documents/Report.pdf"><img border="0" src="content/report_small.png" /></a>
        </div>
        <div class="left" style="padding-left: 40px; padding-top: 20px;">
            <a href="documents/Report.pdf"><div class="report_title">Closing the Credit Gap for Formal and Informal Micro, Small, and Medium Enterprises</div></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="report_description" style="margin-bottom: 30px">
        <i>Closing the Credit Gap for Formal and Informal Micro, Small, and Medium Enterprises</i> reports on the state of the MSME finance gap based on data from the IFC Enterprise Finance Gap Database, with a focus on informal enterprises based on the research findings presented to the IFC SME and Jobs Committee.
        <a href="documents/Report.pdf">Read full report</a>
    </div>
    <hr />
    <div class="report_wrapper" style="margin-top: 30px;">
        <div class="left">
            <a href="documents/Factsheet.pdf"><img border="0" src="content/factsheet_small.png" /></a>
        </div>
        <div class="left" style="padding-left: 40px; padding-top: 20px;">
            <a href="documents/Factsheet.pdf"><div class="report_title">Access To Credit Among Micro, Small, And Medium Enterprises (Factsheet)</div></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="report_description">
        This factsheet provides a summary of the data from the <i>IFC Enterprise Finance Gap Database</i>, and highlights the key data points available for the formal micro, formal SME, and the aggregated formal and informal MSME sectors.
        <a href="documents/Factsheet.pdf">Read full document</a>
    </div>
</div>