@import 'mixins';

.only-index {

    .fields {
        .field-name {
            width: 100px;
        }

        .select {
            select {
                width: 400px;
            }
        }
    }

    .field-value {
        .link.as-question-mark {
            cursor: help;
        }
    }

    .field-value.as-map-layer {
        svg {
            display: inline;
            vertical-align: middle;

            rect {
                &:nth-child(5) {
                    fill: #246F4D;
                }

                &:nth-child(4) {
                    fill: #40965C;
                }

                &:nth-child(3) {
                    fill: #58B06F;
                }

                &:nth-child(2) {
                    fill: #82C483;
                }

                &:nth-child(1) {
                    fill: #A8D5A5;
                }
            }
        }
    }

    .field-value.as-indicator {
        svg {
            display: inline;
            vertical-align: middle;

            circle {
                fill: #E6550D;
            }
        }
    }

    > .page-header {
        margin-left: 20px;
    }
    
    .intro {
        padding: 20px;
        //background-color: #f5f5f5;
        border: solid 1px @border-color;
    }

    .pane {
        margin-left: 20px
    }
    
    // map
    .map {
        width: 990px;
        height: 550px;
    }


    .afterwords {
        padding: 0px 20px;
    }

}
